<!DOCTYPE html>
<html lang="en"
      ng-app="store">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="custom.css">

    <title>Store</title>
</head>

<body class="col-1">
<div ng-controller="StoreController as store">
    <ul class="list-group">
        <li class="list-group-item"
            ng-hide="store.product.isSold"
            ng-repeat="product in store.products">
            <product-title></product-title>
            <product-images ng-hide="product.images.length == 0"></product-images>
            <product-info-panels></product-info-panels>
        </li>
    </ul>
</div>
<script type="text/javascript"
        src="../lib/angular.min.js"></script>
<script type="text/javascript"
        src="app.js"></script>
<script type="text/javascript"
        src="product/product.js"></script>
</body>
</html>